<!DOCTYPE html>
<html>
    <head>
        <%- partial('_partial/head') %>
    </head>
    <body>
        <%- partial('_partial/header') %>
        <main class="container">
            <%- body %>
        </main>
        <%- partial('_partial/footer') %>
        <%- partial('_partial/script') %>
    </body>
</html>
