<header id="article-title" class="text-center">
    <h1><%- post.title %></h1>
    <div id="time">
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%=
    date(post.date, null) %></time>
    </div>
</header>
<section>
    <%- post.content %>
</section>
<footer id="article-footer">
    <div id="share">
        <%- partial('_widget/share') %>
    </div>
    <div class="tag">
        <% if (post.tags && post.tags.length){ %>
            <% post.tags.forEach(function(tag) { %>
                <a href='<%= config.root + tag.path %>'>
                    <%= tag.name %>
                </a>
            <% }); %>
        <% } %>
    </div>
</footer>
